# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/

# Build
/dist
/build

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Env
.env
.env.*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.swp
*.swo
.idea/
*.iml
